@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    /* max-width: 430px;
    min-width: 375px; */
    padding: 16px;
    margin: 0;
    font-family: 'Pretendard Variable', Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto,
      'Helvetica Neue', 'Segoe UI', 'Apple SD Gothic Neo', 'Noto Sans KR', 'Malgun Gothic', 'Apple Color Emoji',
      'Segoe UI Emoji', 'Segoe UI Symbol', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  body {
    width: 430px;
    min-height: 375px;
    max-height: 932px;
    background-color: #F8F8F8;
    border: 1px solid black;
    /* border-radius: 20px; */
  }
}

@layer components {
  .display {
    background-color: theme('colors.white');
    border-radius: theme('borderRadius.lg');
    padding: theme('spacing.6');
    box-shadow: theme('boxShadow.xl');
  }
  .font-display {
    @apply text-3xl font-medium;
  }
  .font-Heading1 {
    @apply text-2xl font-medium;
  }
  .font-Heading2 {
    @apply text-xl font-medium;
  }
  .font-Heading3 {
    @apply text-lg font-semibold;
  }
  .font-Heading4 {
    @apply text-lg font-normal;
  }
  .font-Body1 {
    @apply text-base font-semibold;
  }
  .font-Body2 {
    @apply text-base font-normal;
  }
  .font-Body3 {
    @apply text-sm font-semibold;
  }
  .font-Body4 {
    @apply text-sm font-normal;
  }
  .font-Caption {
    @apply text-xs font-normal;
  }
  .btn-full-fill {
    @apply font-Heading3 bg-brown text-deepBrown w-full	h-12 rounded-lg mt-5;
  }
  .btn-full-line {
    @apply font-Heading3 bg-transparent text-deepBrown w-full	h-12 rounded-lg mt-5 border border-brown;
  }
  .btn-full {
    @apply font-Body3 bg-brown text-deepBrown w-28	h-14 rounded-lg;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

/* 크롬 인풋 기본 스타일 삭제 */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
    -webkit-transition: background-color 9999s ease-out;
    -webkit-box-shadow: 0 0 0px 1000px transparent inset !important;
}